.main{
    display: list-item;
    justify-content: center;
    position: absolute;
    color:  hsl(234, 29%, 20%)  ;
    min-width: auto;
    height: auto;
    width: auto;
    display: flex;
    margin-right: 0;
    margin-left: 45vh;
    margin-top: 10vh;
    
    font-family: 'Roboto', sans-serif;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
}
body{
    background-color: hsl(234, 29%, 20%);

}
h1{
    color:  hsl(234, 29%, 20%)  ;
    font-size: 48px;
    margin: 10px;
    font-weight: 700;
    
}


.text-container{
   margin: 50px;
   margin-top: 90px;
    
}
.img{
    margin: 10px;
    display: inline-block;
}

.input{
    width: 400px;
    margin-bottom: 20px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    cursor: text;
    font-size: medium;
}
button{
    width: 400px;
    margin-top: 10px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px 10px 10px 10px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0.4 1 1 1;
    border: none;
}
button:hover{
    background: linear-gradient(to right,  hsl(4, 100%, 67%) , #e33dde, #0000ff);
}
.error-message{
  color: hsl(4, 100%, 67%);
  margin-left: 140px;
}
.success-message{
    color: white;
    display: none;
    background-color:white ;
    width: auto;
    max-width: auto;
    max-height: auto;
    max-width: auto;
    margin: 60vh;
    margin-top: 10vh;
    margin-left: 70vh;
    
    padding: 50px;
    border-radius: 10px 10px 10px 10px;
}

.text-message{
    color: black;
    font-size: larger;
    margin: 4vh;
}
@media (max-width: 375px) {
    .main {
      margin-left: 5%;
    }
  
    h1 {
      font-size: 32px;
    }
  
    .text-container {
      margin: 30px;
    }
  
    .input,
    button {
      width: 100%;
    }
  }

